{% extends "base.html" %}

{% block content %}
  {{ super() }}



<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>



<link rel="stylesheet" href="//unpkg.com/gitalk/dist/gitalk.css">
<script src="//unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="//unpkg.com/docsify/lib/plugins/gitalk.min.js"></script>


  <div id="gitalk-container"></div>

  <script>
 var gitalk = new Gitalk({
  clientID: 'af9ed895fed1ffe161e8',
  clientSecret: '2b9fb7220039bc71905da454fc758ee7c9a2d9bd',
  repo: 'tkdo.github.io',      // The repository of store comments,
  owner: 'tkdo',
  admin: ['tkdo'],
  distractionFreeMode: false, // Facebook-like distraction free mode
  title: location.hash.match(/#(.*?)([?]|$)/)[1],
  id: location.hash.match(/#(.*?)([?]|$)/)[1]
})
// 监听URL中hash的变化，如果发现换了一个MD文件，那么刷新页面，解决整个网站使用一个gitalk评论issues的问题。
window.onhashchange = function(event){
      if(event.newURL.split('?')[0] !== event.oldURL .split('?')[0]) {
        location.reload()
      }
    }
gitalk.render('gitalk-container')
</script>
{% endblock %}