{% extends "base.html" %}

{% block content %}
  {{ super() }}


  
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <div id="gitalk-container"></div>

<script>
const gitalk = new Gitalk({
  clientID: 'af9ed895fed1ffe161e8',
  clientSecret: '2b9fb7220039bc71905da454fc758ee7c9a2d9bd',
  repo: 'tkdo.github.io',      // The repository of store comments,
  owner: 'tkdo',
  admin: ['tkdo'],
  id: 'comment',      // Ensure uniqueness and length less than 50
  distractionFreeMode: false,  // Facebook-like distraction free mode
  Proxy: 'https://cors-anywhere.azm.workers.dev/https://github.com/login/oauth/access_token'
})

gitalk.render('gitalk-container')
  </script>
{% endblock %}