# [Info]
site_name: TKDO的个人网站 # 左上角标题
site_url: https://tkdo.github.io
site_author: TKDO
site_description: TKDO的个人网站

# [UI]
## [top]
theme:
  # custom_dir: overrides # 评论
  name: material
  palette: 
    - scheme: default # 日间模式
      primary: indigo # 上方的
      accent: orange # 链接等可交互元件的高亮色
      toggle:
        icon: material/weather-night # 图标
        name: 切换至夜间模式 # 鼠标悬浮提示
    - scheme: slate # 夜间模式
      primary: indigo
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: 切换至日间模式
  features:
    - navigation.tabs # 使用Tab来进行分类
    - navigation.top # 返回顶部的按钮 在上滑时出现
    - navigation.indexes # Tab会有一个index.md 而不是在打开Tab时打开第一篇文章
    - navigation.expand # 打开Tab时左侧目录全部展开
    - search.suggest # 搜索输入一些字母时推荐补全整个单词
    - search.highlight # 搜索出的文章关键词加入高亮
  language: zh # 一些提示性的文字会变成中文
  icon:
    repo: fontawesome/brands/github
edit_uri: edit/main/docs # 编辑按钮跳转的链接
## [top-right corner]
repo_url: https://github.com/tkdo/tkdo.github.io # 右上角点击跳转的链接
repo_name: tkdo.github.io # 右上角的名字
## [bottom-left corner]
copyright: Copyright &copy; 2022 TKDO # 左下角的版权声明
## [bottom-right corner]
extra:
  social: # icons
    - icon: fontawesome/brands/github
      link: https://github.com/tkdo
      name: GitHub | TKDO 

# [Navigtion]
nav:
  - 算法: 
    - algorithm/index.md 
    - 并查集: algorithm/find-union.md
    - 动态规划: algorithm/dp.md
    - 位运算: algorithm/bit.md
    - 指针解法: algorithm/point.md
    - 回溯解法: algorithm/backtrack.md
    - 二分法: algorithm/binary.md
    - 前缀和: algorithm/prefix-sum.md
    - 排序: algorithm/sort.md
    - 归纳法: algorithm/summary.md
    - 滑动窗口: algorithm/window.md
  - 语言: 
    - language/index.md 
    - Bash: language/bash.md
    - C++: language/cplus.md
    - Chinese: language/chinese.md
    - English: language/english.md 
    - Java: language/java.md
    - Python: language/python.md
    - Tensorflow: language/tensorflow.md
    - Pytorch: language/pytorch.md
  - 数据: 
    - data/index.md 
    - Mysql: data/mysql.md 
    - Hive: data/hive.md 
    - Spark: data/spark.md
  - 推荐: 
    - recommand/index.md
    #- 召回/TF-IDF: recommand/figure/tfidf.md 
    - 数学/函数曲线: recommand/math/math-func.md
    - 排序/损失函数: recommand/rank/loss.md
    - 评估/cosine: recommand/metrics/cosine.md
  #- 搜索: 
  #  - search/index.md
  - 大模型: 
    - llm/index.md
    - 数据并行: llm/data-parallel.md
    - 模型并行: llm/model-parallel.md
    - 生成参数: llm/transformers-generator.md 
  - 工具: 
    - tools/index.md 
    - Git命令: tools/git.md
    - 高效搜索: tools/search.md  
    - nvim工具: tools/nvim.md  
    - markdown: tools/markdown.md
    - vscode: tools/vscode.md
    - conda/pip: tools/anaconda.md
    - maven: tools/maven.md
  - 其他: 
    - other/index.md
    - opencv: other/opencv.md
    - 3d建模: other/3dmodel.md
    - 3d打印: other/3dprint.md
    - 嵌入式: other/emb.md
  - 关于:
    - about/index.md # 使用两个index 这样子左上角第一次打开会是所有Tab 而不是ABOUT
    # - 支持作者: about/support.md
    - 文章编写帮助: about/help.md
    - 网站构建: about/build.md
    - 测试文档: about/test.md
# [Extensions]
plugins:
  - search: # 现在还不支持中文搜索 支持之后可以设置语言
    # insider已经支持中文的分词搜索了 https://squidfunk.github.io/mkdocs-material/blog/2022/chinese-search-support/
      lang:
        - en
        - ja
  - tags # 给单篇文章添加标签 https://squidfunk.github.io/mkdocs-material/setup/setting-up-tags/?h=tags
markdown_extensions:
  - pymdownx.arithmatex: # latex支持
      generic: true
      block:
        start: '\\['
        end: '\\]'
  - attr_list # 给图片后面添加{width="300"}设置大小
  - toc:
      permalink: true # 固定标题位置为当前位置
  - pymdownx.highlight: # 代码块高亮
      # linenums: true # 显示行号
      # auto_title: true # 显示编程语言名称
  - pymdownx.superfences # 代码块高亮插件
  - meta # 支持Markdown文件上方自定义标题标签等
  - pymdownx.details: # 代码折叠
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
extra_javascript:
  # latex支持
  - 工具: 
    - tools/index.md 
  - 关于:
    - about/index.md # 使用两个index 这样子左上角第一次打开会是所有Tab 而不是ABOUT
    - 支持作者: about/support.md
    - 文章编写帮助: about/help.md
    - 网站构建: about/build.md
    - 测试文档: about/test.md

# [Extensions]
plugins:
  - search: # 现在还不支持中文搜索 支持之后可以设置语言
    # insider已经支持中文的分词搜索了 https://squidfunk.github.io/mkdocs-material/blog/2022/chinese-search-support/
      lang:
        - en
        - ja
  - tags # 给单篇文章添加标签 https://squidfunk.github.io/mkdocs-material/setup/setting-up-tags/?h=tags
markdown_extensions:
  - pymdownx.arithmatex: # latex支持
      generic: true
  - attr_list # 给图片后面添加{width="300"}设置大小
  - toc:
      permalink: true # 固定标题位置为当前位置
  - pymdownx.highlight: # 代码块高亮
      ######## add start ##########
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      linenums: true # 显示行号
      # auto_title: true # 显示编程语言名称
      ######## add  end ##########

  - pymdownx.superfences: # 代码块高亮插件
  - meta # 支持Markdown文件上方自定义标题标签等
  - pymdownx.details: # 代码折叠
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  ######## add start ##########
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  ######## add end ##########

extra_javascript:
  # latex支持
  # check https://squidfunk.github.io/mkdocs-material/reference/mathjax/?h=math for more information
  # notice `curl https://polyfill.io/v3/polyfill.min.js?features=es6 > docs/mkdocs/javas
  # cripts/polyfill.min.js && curl https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js > docs/mkdocs/javascripts/tex-mml-chtml.js` not works... because there are other resources that need to load
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  - mkdocs/javascripts/mathjax.js
  # - mkdocs/javascripts/mathjax.js
  # - https://polyfill.io/v3/polyfill.min.js?features=es6
  # - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js # https://cdn.bytedance.com/?query=mathjax&version=3.2.0
  # - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
extra_css:
  - mkdocs/css/no-footer.css # 不使用底部的翻页
  - mkdocs/css/unordered-list-symbols.css # multiplt unordered list symbols

